html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: LightGray;
}

ol,
ul {
  list-style: none;
}

div {
  border: 1px solid Chocolate;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.content {
  padding: 0 0.938rem;
  margin: 0 auto;
  min-width: 37.5rem;
}
/*------- Navigation Section -------*/

.top-navigation {
  background-color: #fff;
  position: fixed;
  height: 4.375rem;
  width: 100%;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
}
.top-navigation > .content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
}
.top-navigation .logo {
  margin-top: 15px;
  margin-left: 15px;
}
.top-navigation .links {
  float: right;
  color: #838994;
  font-size:1.04rem;
  margin-top: 1.7rem;
}
.top-navigation .links li {
  display: inline-block;
   margin-left: 1.563rem;
}
.top-navigation .links .active {
  color: #4c5058;
  font-weight: 500;
}
.top-navigation .links li:hover {
  cursor: pointer;
  color: #333333;
}
/*----- Introduction ------*/

.introduction {
  background: url("../img/karma-back-img.jpeg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
  overflow: auto;
}
.introduction h1,
.introduction h3 {
  color:white;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
  width: 970px;
}
.introduction h1 {
  margin-top: 17.5rem;
  font-size: 3.125rem;
}
.introduction h3 {
  margin-top: 1.25rem;
  font-size: 1.563rem;
}
.introduction .buttons {
  color:white;
  text-align: center;
  margin-top: 1.563rem;
}
/*----  button  ---------*/

button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}
button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}